<div class="card" style="width: 18rem;">
  <img
    src="/assets/images/{{pictureLink}}"
    class="card-img-top"
    alt="{{description}}"
  />
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}.</p>
    <a href="{{link}}" class="btn btn-primary">Go to the repository!</a>
  </div>
</div>